<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
   
    <form method="post" action="/todos">
      <label>Név: </label>
      <input type="text" name="name">
      <button type="submit">Hozzáad</button>
    </form>
    <ul>      
      <% for(const todo of todos){ %> 
        <form method="post" action="/todos/delete/<%= todo.id%>">
      <li> <a href="/todos/edit/<%=todo.id%>"><%=todo.name%></a> <input type="submit" value="X" name="name"></li>
      </form>
      <% } %>
      <!-- vagy
        <% todos.forEach(todo => { %>
          <li><%= todo.name %></li>
          <% }); %> -->
        </ul>
  </body>
</html>